.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-screen > *,
.confirm-btn,
.next-btn,
.new-game {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  border-radius: 0.4rem;
  border: none;
}

#name {
  margin-bottom: 0.4rem;
  background-color: var(--whitesmoke);
}

.btn {
  background-color: var(--blueviolet);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--whitesmoke);
  color: #313134;
  transition: background-color ease-in-out 500ms;
}

.error {
  display: none;
  margin: 0.4rem 0rem 0rem 0rem;
  background-color: var(--background-black);
  color: var(--blueviolet);
  font-size: 1rem;
}

.question {
  display: none;
  text-align: center;
}

.question_answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.answer {
  margin: 0.3rem 0rem;
  width: 49%;
  padding: 0.65rem;
  border-radius: 0.4rem;
  background-color: var(--lighter-grey);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  color: inherit;
}

.answer:hover {
  color: var(--background-black);
  background-color: var(--blueviolet);
}

.selected {
  color: var(--background-black);
  background-color: var(--blueviolet);
}

.confirm-btn,
.next-btn,
.new-game {
  margin: 0.3rem 0rem;
  font-size: 1em;
  padding: 0.65rem;
}

.next-btn,
.new-game {
  display: none;
}

.correctAnswer,
.wrongAnswer {
  margin: 0.3rem 0rem 0.6rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.correctAnswer {
  background-color: var(--green);
}

.wrongAnswer {
  background-color: var(--darker-red);
}

.player-details {
  text-align: right;
}

.end-game {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.end-game > * {
  margin: 0;
  padding: 0.3rem;
}

@media only screen and (max-width: 648px) {
  .answer {
    width: 100%;
  }
}
